.main-card-container-doctor{
    height: fit-content;
}
.main-card-container-doctor:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 10px #D2E0FB;
}
.main-card-container-service{
    height: fit-content;
}
.main-card-container-service:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 10px #D2E0FB;
}

.main-card-container-doctor .img-container,.main-card-container-service .img-container{
    width: 15vw;
    height: 15vw;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.main-card-container-doctor .img-container img,.main-card-container-service .img-container img{
    width: 15vw;
    height: 15vw;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.main-card-container-doctor .desc-container-doctor h1{
    width: 15vw;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    color: #D2E0FB;
    background-color: #1e2a5e;
    text-align: center;
    border: none;
    padding-bottom: 5px;
    padding-top: 10px;  
}
.desc-container-doctor p{
    font-size: 20px;
    width: 15vw;
    border-radius: 0;
    color: #D2E0FB;
    background-color: #1e2a5e;
    text-align: center;
    border: none;
    padding: 10px 10px;  
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
}
.main-card-container-service .desc-container-service h1{
    display: flex;
    align-items: center;
    justify-content: center;
    height:60px;
    font-size: 24px;
    margin-top: 0%;
    width: 15vw;
    border-radius: 0;
    color:#1e2a5e;
    background-color:  #D2E0FB;
    text-align: center;
    border: none;
    padding-bottom: 5px;
    padding-top: 10px;  
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
}
.desc-container-service p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 15vw;
    height: 160px;
    border-radius: 0;
    color: #1e2a5e;
    background-color: #D2E0FB;
    text-align: center;
    border: none;
    padding-bottom: 10px; 
    padding-left: 5px;
    padding-right: 5px; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.desc-container-service {
    background-color: #D2E0FB;
    height: 160px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
