.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    margin: 0%;
    height: 75vh;
    width: 100vw;
    background-color: #f3f7f9;
    padding: 0;
  }
  
  