.bst-doc-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.bst-doc-container .btn-container button{
    background-color: #1e2a5e;
    border-radius: 10px;
    border: 0;
    padding: 10px 10px;
}
.bst-doc-container .btn-container button a{
    color: #D2E0FB;
    text-decoration: none;
    font-weight: 700;
    background-color: #1e2a5e;
}
.best-heading{
    color:#1e2a5e;
    font-size: 44px;
    background-color: #D2E0FB;
    margin-top: 20px;
}
.card-container{
    display: flex;
    flex-direction: row;
    background-color: #D2E0FB;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 40px;
}
@media (max-width: 768px) {
    .card-container {
        flex-direction: column; /* Change to vertical layout */
        gap: 20px; /* Adjust gap for vertical stacking */
    }

    .best-heading {
        font-size: 36px; /* Optional: adjust font size for smaller screens */
    }
}